.banner{
  width:100%;
  max-height: 25rem;
  object-fit: cover;
  @media(min-width: 2080px){
    max-height: 40rem;
  }
}
.postContainer{
  h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.63rem;
    color: var(--heading);
    margin-top: 5rem;
  }
}
.information{
  display: flex;
  align-items: center;
  margin-top: 1.562rem;
  span{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--info);
    line-height: 1.05rem;
    & + span{
      margin-left: 1.83rem;
    }
    svg{
      width: 20px;
      height: 20px;
      margin-right: 0.656rem;
    }
  }
}
.LastEdited{
  span{
    display: block;
    font-size: 0.875rem;
    font-style: italic;
    color: var(--info);
    margin-top: 1rem;
  }
}
.contentPost{

    h2{
      font-size:2.25rem;
      color:var(--heading);
      margin: 3rem 0;
    }
    p, span, a, ul{
      font-size:1.125rem;
      line-height: 1.8;
      margin: 1.8rem 0;
      color: var(--heading);
    }

    a {
      color:var(--highlight)
    }

    strong{
      font-weight: 700;
      color:var(--body)
    }
    &:last-child{
      padding-bottom: 1rem;
      margin-bottom: 3rem;
      border-bottom: 1px solid rgba(215, 215, 215, 0.1) ;
    }

}

.btnNextEndPrevious{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
  div{
    display: flex;
    flex-direction: column;
    text-align: left;
    span{
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--heading);
      margin-bottom: 0.5rem;
    }
    a{
      display: flex;
      border: none;
      background: transparent;
      color: var(--highlight);
      font-weight: 600;
    }
  }
  div + div{
    text-align: right;
    a{
      justify-content: flex-end;
    }
  }
}

